* {
  font-weight: bold;
}


.review-container {
  display: flex;
  flex-direction: column;
  border-style: solid;
}
.starRating .starsRated{
  color: rgb(226, 205, 10);
  font-size: 40px;
}
.starRating .starsUnrated{
  color: rgb(245, 241, 209);
  font-size: 40px;
}
.review-container .reviewer {

  font-size: 15px;
  color: gray;

}
